html  { 
  background-color: whitesmoke; 

body  {
  font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    } 

article  {
  width:auto;} 

h1 {
  background-color: whitesmoke; 
  color:  black;
  padding: 5px;
  text-align:center;}

h2  {
  color: black;
  text-align: center;
  font-size:x-large; } 

h3 {
  color: black;
  text-align:center;
    font-size: x-large;}

figure1 img { 
  width:80%; 
  border: 7px; 
  padding:  10px;
  align-content: center;} 

  
figure2 img { 
    width: 20%;
    height: 20%;
    border: 7px  dashed black; 
    padding:  10px;
    display:block;} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;}

figure3 img { 
    width: 20%;
    height: 20%;
    border: 7px  dashed black; 
    padding:  10px;
    display:block; float: right;} 

figure4 img { 
    width: 20%;
    height: 20%;
    border: 7px  dashed black; 
    padding:  10px;
    display: block; float: left;} 

nav ul  { 
    display:inline-flex;
    justify-content:space-around;
    gap:30px;
    background-color:#05FF97; 
    list-style: none; 
    padding: 10px; 
    width: 1450px;
    border:  5px  dashed black;} 


nav ul li  { 
    padding:  5px; } 


nav ul li  a:hover  { 
    text-decoration:  underline; }


main {
  background-color: whitesmoke; 
  color:  green;
  padding: 30px;
  text-align:left;}

p#overview  {  
  color:  green;} 


li.site-nav-item {
  color:  black; 
  text-decoration: none ;
  font-size: large;
  font-weight: bold; }

article p1 {
  padding: 10px;
  padding-bottom: 5px;
  text-align:center;
    font-size: x-large;
    color:green;}

article p2 {
  padding: 10px;
  text-align:left;
    width: 65%;
    color:green;
    font-size: larger;}

article p3 {
  padding: 10px;
  text-align:left;
    width: 65%;
    color:green;}

article p4 {
  padding: 10px;
  text-align:left;
    width: 65%;
    color:green;}

article p5 {
  padding: 10px;
  text-align:left;
    width: 65%;
    color:green;}

footer#footer  {  
  color: black;
    text-align: center;
    padding: 5px;} 