html  { 
  background-color: whitesmoke; 

body  {
  font-family: Courier New;
    font-size: large;} 

article  {
  width: 1000px;} 

h1 {
  background-color: whitesmoke; 
  color:  green;
  padding: 10px;
  text-align:center;}

h2  {
  color: green;
  text-align: center;
  font-size:xx-large; } 

h3 {
  color: green;
  text-align:left;
    font-size: x-large;}

h4 {
  background-color: whitesmoke; 
  color:  green;
  padding: 10px;
  text-align:left;}

figure1 img { 
  width:70%; 
  border: 7px  dashed black; 
  padding:  10px;
  align-content: space-around;} 

  
figure2 img { 
    width: 40%;
    height: 40%;
    border: 7px  dashed black; 
    padding:  10px;
    box-align:right;} 

figure3 img { 
    width: 40%;
    height: 40%;
    border: 7px  dashed black; 
    padding:  10px;} 

figure4 img { 
    width: 40%;
    height: 40%;
    border: 7px  dashed black; 
    padding:  10px;
    box-align:right;} 

nav ul  { 
    display:inline-flex;
    justify-content:space-around;
    gap:30px;
    background-color:  rgb(5, 202, 120); 
    list-style: none; 
    padding: 10px; 
    width: 1450px;
    border:  5px  dashed black;} 


nav ul li  { 
    padding:  5px; } 


nav ul li  a:hover  { 
    text-decoration:  underline; }


main {
  background-color: whitesmoke; 
  color:  green;
  padding: 30px;
  text-align:left;}

p#overview  {  
  color:  green;} 


li.site-nav-item {
  color:  white; 
  text-decoration: none ;
  font-size: large;
  font-weight: bold; }