html  { 
  background-color: black; 

body  {
  font-family: Courier New;} 

article  {
  width: 1000px;} 

h1  {
  color: lime;
  text-align: center} 

article h2 {
  color: lime;
  text-align: center}

article p  {  
  color:  lime;} 

article h3 {
  background-color: black; 
  color:  lime;
  padding: 30px;
  text-align: center}

article  figure  { 
  width:  50%; 
  border: 7px  dashed white; 
  padding:  10px;} 

article figure img { 
  width: 100%;}

  
  article figure2 img { 
    width: 50%;
    height: 50%;
    border: 7px  dashed white; 
    padding:  10px;} 

nav ul  { 
background-color:  PaleVioletRed; 
list-style:  none; 
padding:  0; 
width:  200px; 
border:  1px  solid  MediumVioletRed; 
} 


nav ul  li  { 
border-bottom:  1px  solid  MediumVioletRed; 
padding:  5px; 
} 


nav ul  li:last-child  { 
border-bottom:  0; 
} 


nav ul  li  a  { 
color:  white; 
text-decoration:  none; 
} 


nav ul  li  a:hover  { 
text-decoration:  underline; 
}
